<div class="people">
    <h1 class="people__title">STAR WARS MOVIES</h1>
    <h2 class="people__filter-text">Filter by:</h2>
    <select (change)="onChange($event.target.value)" class="people__filter-select">
        <option value="films">Films</option>
        <option value="name">Name</option>
        <option value="gender">Gender</option>
    </select>
    <div class="people__header">
        <p>Name</p>
        <p>Gender</p>
        <p>Films Acted</p>
    </div>
    <app-person *ngFor="let person of people" [person]="person"></app-person>
</div>